@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --color-principal: #71d64e;
}

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    height: 100vh;
    padding-left: 295px;
    padding-right: 20px;
    background: #d9d9d9;
    overflow: auto;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}