<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recepção</title>
    <link rel="stylesheet" href="recepcion.css">
</head>
<body>
    <div class="menu">
        <div class="line"></div>
        <div class="rectangle-18">
          <div class="rectangle-19"></div>
          <span class="home">HOTEL</span>
        </div>
        <div class="foto-logo ">
          <span class="hotel">Home</span>
        </div>
        <div class="foto-logo activo">
          <span class="hotel">Recepção</span>
        </div>
        <div class="foto-logo">
          <span class="hotel">Saída</span>
        </div>
        <div class="foto-logo">
          <span class="hotel">Freguês</span>
        </div>
        <div class="foto-logo">
          <span class="hotel">Relatório</span>
        </div>
        <div class="foto-logo">
          <span class="hotel">Configuração</span>
        </div>
        <a style="color: rgb(74, 236, 9);" href="../vista_general_habitaciones/vistaGeneral.html">btn prueba></a>
      </div>
      <div class="main-container">
        <div class="barra_buscar">Proceso de Hospedagem
            <button id="openModalButton">Abrir Modal</button>
            <input class="buscar_lupa" name="text" placeholder="Buscar Quarto..." type="search">
          </div>
          <!-- informe del cuarto --> 
          <div class="informe_cuarto">
            <div class="infomre_encabezado"><p>Informações do Quarto</p></div>
            <div class="informe_main">
                <div>
                    <p>Nome</p>
                    <div class="info_habitacion">03</div>
                </div>
                <div>
                    <p>Detalhes</p>
                    <div class="info_habitacion">Quarto individual, TV, Wi-Fi, 1 banheiro
                      maximo 2 pessoas</div>
                </div>
                <div>
                    <p>Preço</p>
                    <div class="info_habitacion"><span class="type_moneda">$R</span>100,00</div>
                </div>
              </div>
              <div class="informe_main">
                <div>
                    <p>Tipo</p>
                    <div class="info_habitacion">Simple</div>
                </div>
                <div>
                    <p>Tarifa</p>
                    <div class="info_habitacion">24 horas</div>
                </div>
                <div>
                    <p>Estado</p>
                    <div class="info_habitacion">Disponível</div>
                </div>
            </div>
          </div>
          <!-- datos del cliente -->
          <div class="datos_cliente">
            <div class="colum">
              <div class="infomre_encabezado"><p>Dados do Cliente</p></div>
              <div class="nombre_cliente"><div class="encabezado_nombre">Nome</div><input type="text"></div>
              <div class="documento_cliente">
                <div class="colum">
                  <div class="encabezado_nombre">Tipo de Documento</div><input type="text">
              </div>
              <div class="colum">
                <div class="encabezado_nombre">N° de Documento</div><input type="text">
              </div>
            </div>
              <div class="telefono_cliente"><div class="encabezado_nombre">Telefone</div><input type="text"></div>
              <div class="email_cliente"><div class="encabezado_nombre">E-mail</div><input type="text"></div>
            </div>
            <div class="colum">
              <div class="infomre_encabezado"><p>Dados de Alojamento </p></div>
            </div>
          </div>
      </div>
      <script src="recepcion.js"></script>
</body>
</html>