<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recepção</title>
    <link rel="stylesheet" href="../index.css">
    <link rel="stylesheet" href="../sidebar.css">
    <link rel="stylesheet" href="../modales.css">
    <link rel="stylesheet" href="recepcion.css">
</head>

<body>
    <div id="modalConfirmar" class="modal">
        <div class="modal-content">
            <img class="info-img" src="../../../recursos/info.png" alt="">¿adicionar cliente?
            <div style="display: flex; width: 100%; justify-content: space-evenly;">
                <button class="btn-modal" id="noButton"><img class="icon-img" src="../../../recursos/remove.png"
                        alt=""></button>
                <button class="btn-modal" id="yesButton"><img class="icon-img" src="../../../recursos/check.png"
                        alt=""></button>
            </div>
        </div>
    </div>
    <div id="modalClienteAdicionado" class="modal">
        <div class="modal-content">
            <img class="checkImage" src=" ../../../recursos/check.png" alt="">
            <span>Cliente Adicionado</span>
        </div>
    </div>

    <div class="menu">
        <div id="output"></div>
        <div class="rectangle-18">
            <div class="rectangle-19"></div>
            <span class="home">HOTEL</span>
        </div>
        <a href="../vista_principal/inicio_habitacion.html" class="nav-item">
            <span class="hotel flex-nav"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                    width="24px" fill="#EFEFEF">
                    <path
                        d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z" />
                </svg>
                <div>Home</div>
            </span>
        </a>
        <a href="../vista_general_habitaciones/vistaGeneral.html" class="nav-item activo">
            <span class="hotel flex-nav">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                    fill="#EFEFEF">
                    <path
                        d="M80-200v-80h800v80H80Zm40-120v-40q0-128 78.5-226T400-710v-10q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720v10q124 26 202 124t78 226v40H120Zm82-80h556q-14-104-93-172t-185-68q-106 0-184.5 68T202-400Zm278 0Z" />
                </svg>
                <div>Recepção</div>
            </span>
        </a>
        <a href="../saida/saida.html" class="nav-item">
            <span class="hotel flex-nav">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                    fill="#EFEFEF">
                    <path
                        d="M440-440q17 0 28.5-11.5T480-480q0-17-11.5-28.5T440-520q-17 0-28.5 11.5T400-480q0 17 11.5 28.5T440-440ZM280-120v-80l240-40v-445q0-15-9-27t-23-14l-208-34v-80l220 36q44 8 72 41t28 77v512l-320 54Zm-160 0v-80h80v-560q0-34 23.5-57t56.5-23h400q34 0 57 23t23 57v560h80v80H120Zm160-80h400v-560H280v560Z" />
                </svg>
                <div>Saída</div>
            </span>
        </a>
        <a href="../Fregues/fregues.html" class="nav-item">
            <span class="hotel flex-nav"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                    width="24px" fill="#EFEFEF">
                    <path
                        d="M40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm720 0v-120q0-44-24.5-84.5T666-434q51 6 96 20.5t84 35.5q36 20 55 44.5t19 53.5v120H760ZM360-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm400-160q0 66-47 113t-113 47q-11 0-28-2.5t-28-5.5q27-32 41.5-71t14.5-81q0-42-14.5-81T544-792q14-5 28-6.5t28-1.5q66 0 113 47t47 113ZM120-240h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0 320Zm0-400Z" />
                </svg>
                <div>Cliente</div>
            </span>
        </a>
        <a href="../Relatorio/relatorio.html" class="nav-item">
            <span class="hotel flex-nav">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                    fill="#EFEFEF">
                    <path
                        d="M320-240h320v-80H320v80Zm0-160h320v-80H320v80ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z" />
                </svg>
                <div>Relatório</div>
            </span>
        </a>
        <a href="../Configuracao/Configuracao.html" class="nav-item">
            <span class="hotel flex-nav">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                    fill="#EFEFEF">
                    <path
                        d="m370-80-16-128q-13-5-24.5-12T307-235l-119 50L78-375l103-78q-1-7-1-13.5v-27q0-6.5 1-13.5L78-585l110-190 119 50q11-8 23-15t24-12l16-128h220l16 128q13 5 24.5 12t22.5 15l119-50 110 190-103 78q1 7 1 13.5v27q0 6.5-2 13.5l103 78-110 190-118-50q-11 8-23 15t-24 12L590-80H370Zm70-80h79l14-106q31-8 57.5-23.5T639-327l99 41 39-68-86-65q5-14 7-29.5t2-31.5q0-16-2-31.5t-7-29.5l86-65-39-68-99 42q-22-23-48.5-38.5T533-694l-13-106h-79l-14 106q-31 8-57.5 23.5T321-633l-99-41-39 68 86 64q-5 15-7 30t-2 32q0 16 2 31t7 30l-86 65 39 68 99-42q22 23 48.5 38.5T427-266l13 106Zm42-180q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Zm-2-140Z" />
                </svg>
                <div>Configuração</div>
            </span>
        </a>
    </div>

    <form class="main-container" method="post">
        <div class="barra_buscar">Proceso de Hospedagem
            <a href="../vista_general_habitaciones/vistaGeneral.html" class="volver">Voltar</a>
        </div>
        <!-- informe del cuarto -->
        <div style="display: flex;">

            <div class="informe_cuarto">
                <div class="infomre_encabezado">
                    <p>Informações do Quarto</p>
                </div>
                <div class="informe_main">
                    <div>
                        <p>Nome</p>
                        <div class="info_habitacion"></div>
                    </div>
                    <div>
                        <p>Detalhes</p>
                        <div class="info_habitacion"></div>
                    </div>
                </div>
                <div class="informe_main">
                    <div>
                        <p>Tipo</p>
                        <div class="info_habitacion"></div>
                    </div>

                    <div>
                        <p>Estado</p>
                        <div class="info_habitacion"></div>
                    </div>
                </div>

            </div>
            <div
                style="display: flex; width: 20%; margin-bottom: 10px; justify-content: center; align-items: center; flex-direction: column; background: #fff; border-radius: 0 5px 5px 0;border-bottom: 2px solid hsla(0, 0%, 0%, 0.658); font-weight: 700;">
                <div style="display: flex; align-items: center;">
                    <p>Preço</p>
                    <div class="loader"></div>
                </div>
                <div class="info_habitacion" style="height: 27%;"><span class="type_moneda">$R0</span></div>
            </div>
        </div>

        <!-- datos del cliente -->
        <div class="datos_cliente" action="">
            <div class="colum rigth">
                <div class="infomre_encabezado">
                    <p>Dados do Cliente</p>
                </div>
                <div class="nombre_cliente">
                    <div class="encabezado_nombre">Nome <span class="input_requerid">*</span></div><input
                        class="input_xd completo mensaje_name nombre-completo" name="huesped[0][nombre]">
                    <div id="name-error-nombre" class="name-error-nombre"></div>
                </div>
                <div class="documento_cliente">
                    <div class="colum">
                        <div class="encabezado_nombre documento">N° de Passaporte</div><input class="input_xd"
                            name="huesped[0][pasaporte]">
                    </div>
                    <div class="colum">
                        <div class="encabezado_nombre documento">N° de Documento <span class="input_requerid">*</span>
                        </div><input class="input_xd document-error-documment" name="huesped[0][documento]">
                        <div class="error-message-documment"></div>
                    </div>
                </div>
                <div class="documento_cliente">
                    <div class="colum">
                        <div class="encabezado_nombre documento">Profissão</div><input class="input_xd"
                            name="huesped[0][profesion]">
                    </div>
                    <div class="colum">
                        <div class="encabezado_nombre documento">Procedência</div><input class="input_xd"
                            name="huesped[0][procedencia]">
                    </div>
                </div>
                <div class="documento_cliente">
                    <div class="colum">
                        <div class="encabezado_nombre documento">Data de nascimento</div><input class="input_xd"
                            name="huesped[0][fecha_nacimiento]">
                    </div>
                    <div class="colum">
                        <div class="encabezado_nombre documento">Destino</div><input class="input_xd"
                            name="huesped[0][destino]">
                    </div>


                </div>
                <div class="documento_cliente">
                    <div class="colum">
                        <div class="encabezado_nombre documento">Naturalidade</div><input class="input_xd"
                            name="huesped[0][naturalidad]">
                    </div>
                    <div class="colum">
                        <div class="encabezado_nombre documento">Nacionalidade</div><input class="input_xd"
                            name="huesped[0][nacionalidad]">
                    </div>
                </div>
                <div class="telefono_cliente">
                    <div class="encabezado_nombre">Telefone</div><input class="input_xd completo"
                        name="huesped[0][telefono]">
                </div>
                <div class="email_cliente">
                    <div class="encabezado_nombre">E-mail</div><input class="input_xd completo"
                        name="huesped[0][email]">
                </div>
            </div>
            <div class="colum">
                <div class="infomre_encabezado">
                    <p>Dados de Alojamento </p>
                </div>
                <div class="nombre_cliente">
                    <div class="encabezado_nombre">Hora e Data de Entrada</div>
                    <div class=" completo conten_horaFecha">
                        <div id="clock" class="clock" name="huesped[0][hora_entrada]"></div>
                        <div id="date" class="date" name="huesped[0][fecha_entrada]"></div>
                    </div>
                </div>
                <div class="nombre_cliente">
                    <div class="encabezado_nombre">Hora e Data de Saída<span class="input_requerid">*</span></div>
                    <div class=" completo conten_horaFecha fecha_salida"><input type="datetime-local" id="fecha_salida">
                        <input id="definicion_fecha" type="checkbox" checked>
                    </div>
                    <div class="error-message-documment"></div>
                </div>
                <div class="documento_cliente">
                    <div class="colum">
                        <div class="encabezado_nombre documento">Pago Adelantado</div>
                        <div style="display: flex; align-items: center;justify-content: space-between; flex-direction: row;"
                            class="corto"><span>$R</span><input type="number" class="barra_input"
                                name="huesped[0][pago_adelantado]">
                        </div>
                    </div>
                    <div class="colum">
                        <div class="encabezado_nombre documento" style="position: relative;">Desconto
                            <div style="position: absolute; top: 0; right: 15px;">
                                <input type="radio" id="radio1" checked><span>%</span><input type="radio"
                                    id="radio2"><span>$R</span>
                            </div>
                        </div>
                        <div class="corto descuento" id="content1">
                            <span id="porcentajeSpan">0%</span>
                            <select id="porcentajeSelect">
                                <option value="0" selected>0%</option>
                                <option value="0.1">10%</option>
                                <option value="0.2">20%</option>
                                <option value="0.3">30%</option>
                                <option value="0.4">40%</option>
                                <option value="0.5">50%</option>
                                <option value="0.6">60%</option>
                                <option value="0.7">70%</option>
                                <option value="0.8">80%</option>
                                <option value="0.9">90%</option>
                                <option value="1">100%</option>
                            </select>
                        </div>
                        <div class="corto descuento" id="content2" style="display: none">
                            <div style="display: flex; align-items: center;justify-content: space-between; flex-direction: row;"
                                class="input_xd"><span>$R</span><input type="text" class="barra_input"></div>
                        </div>
                    </div>
                </div>
                <div class="documento_cliente">
                    <div class="colum">
                        <div class="encabezado_nombre documento">Valor Diaria<span class="input_requerid">*</span></div>
                        <div style="display: flex; align-items: center;justify-content: space-between; flex-direction: row;"
                            class="corto"><span>$R</span><input type="number" id="valor_diaria"
                                class="barra_input valor_diaria"></div>
                        <div class="error-message-documment"></div>
                    </div>
                </div>
                <button id="enviar" class="cliente_pago" type="submit">Guardar registro</button>
            </div>

        </div>
        <div class="conten_barra">
            <div class="barra_verde"></div>
        </div>
        <div class="conten_boton">
            <button class="add_vista">Adicionar Cliente</button>
        </div>
    </form>
    <script src="recepcion.js">
    </script>
    <script src="../../i18n/i18n.js"></script>
</body>

</html>