<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MAyLU</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manjari:wght@700&display=swap" />
    <link rel="stylesheet" href="inicio_habitacion.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="interfaz-inicio">
        <div class="rectangle">
          <div class="rectangle-1"></div>
          <span class="inicio-2">Início</span>
        </div>
        <div class="flex-row-e">
          <div class="rectangle-3">
            <button class="rectangle-4">
              <div class="total-de-quartos">
                <span class="total">total </span><span class="de">de </span
                ><span class="quartos">quartos</span>
              </div>
            </button>
            <div class="flex-row-f">
              <span class="xx">xX</span>
              <div class="rectangle-5"></div>
              <div class="rectangle-6"></div>
              <div class="rectangle-7"></div>
            </div>
          </div>
          <div class="rectangle-8">
            <button class="rectangle-9">
              <span class="quartos-livres">Quartos livres</span></button
            ><span class="xx-a">XX</span>
            <div class="rectangle-b"></div>
            <div class="rectangle-c"></div>
            <div class="rectangle-d"></div>
          </div>
        </div>
        <div class="flex-row-ed">
            <div class="rectangle-3">
                <button class="rectangle-4">
                  <div class="total-de-quartos">
                    <span class="total">total </span><span class="de">de </span
                    ><span class="quartos">quartos</span>
                  </div>
                </button>
                <div class="flex-row-f">
                  <span class="xx">xX</span>
                  <div class="rectangle-5"></div>
                  <div class="rectangle-6"></div>
                  <div class="rectangle-7"></div>
                </div>
              </div>
              <div class="rectangle-8">
                <button class="rectangle-9">
                  <div class="total-de-quartos">
                    <span class="total">total </span><span class="de">de </span
                    ><span class="quartos">quartos</span>
                  </div>
                </button>
                <div class="flex-row-f">
                  <span class="xx">xX</span>
                  <div class="rectangle-5"></div>
                  <div class="rectangle-6"></div>
                  <div class="rectangle-7"></div>
                </div>
              </div>
        </div>
      </div>
      <div class="menu">
        <div class="line"></div>
        <div class="rectangle-18">
            <div class="rectangle-19"></div>
          <span class="home">HOTEL</span>
        </div>
        <div class="foto-logo activo">
            <span class="hotel">Home</span>
        </div>
        <div class="foto-logo">
            <span class="hotel">Recepção</span>
        </div>
        <div class="foto-logo">
            <span class="hotel">Saída</span>
        </div>
        <div class="foto-logo">
            <span class="hotel">Freguês</span>
        </div>
        <div class="foto-logo">
            <span class="hotel">Relatório</span>
        </div>
        <div class="foto-logo">
            <span class="hotel">Configuração</span>
        </div>
      </div>
    </div>
    <!-- Generated by Codia AI - https://codia.ai/ -->
  </body>
</html>
