.interfaz-inicio {
    position: relative;
    z-index: 31;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 50px;
    padding-inline: 20px;
}
.card {
    flex-shrink: 0;
    position: relative;
    width: 300px;
    height: 161px;
    z-index: 37;
    border-radius: 18px;
    margin-inline: auto;
}
.card .header {
    position: relative;
    width: 300px;
    height: 35px;
    margin: 0 0 0 0;
    cursor: pointer;
    border: none;
    z-index: 43;
    overflow: visible auto;
    border-radius: 18px 18px 0 0;
    color:#fff;
}
.card .header .title {
    position: relative;
    width: 153px;
    height: 27px;
    margin: 4px 0 0 73px;
    font-family: Manrope, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 43;
}
.flex-row-f {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    padding: 10px 28px;
    z-index: 40;
}
.xx {
    height: 88px;
    color: #ffffff;
    font-family: Manjari, var(--default-font-family);
    font-size: 75px;
    font-weight: 700;
    line-height: 87.891px;
    text-transform: capitalize;
    white-space: nowrap;
    z-index: 39;
}

/* colores */
.total-de-cuartos {
    background: #de93ea;
}
.total-de-cuartos .header {
    background: #653d6c;
}
.cuartos-libres {
    background: #35C928;
}
.cuartos-libres .header {
    background: #2E8A26;
}
.en-reserva {
    background: #6A7DDC;
}
.en-reserva .header {
    background: #303A6B;
}
.total-ocupados {
    background: #FF8A00;
}
.total-ocupados .header {
    background: #B74D00;
}