<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotel MAyLU</title>
    <link rel="stylesheet" href="../index.css">
    <link rel="stylesheet" href="../sidebar.css">
    <link rel="stylesheet" href="../navbar.css">
    <link rel="stylesheet" href="inicio_habitacion.css" />
</head>

<body>
    <!-- menu -->
    <div class="menu">
        <div class="line"></div>
        <div class="rectangle-18">
            <div class="rectangle-19"></div>
            <span class="home">HOTEL</span>
        </div>
        <a href="../vista_principal/inicio_habitacion.html" class="nav-item activo">
            <span class="hotel flex-nav"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                    width="24px" fill="#EFEFEF">
                    <path
                        d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z" />
                </svg>
                <div>Home</div>
            </span>
        </a>
        <a href="../vista_general_habitaciones/vistaGeneral.html" class="foto-logo">
          <span class="hotel flex-nav">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#EFEFEF">
              <path
                d="M80-200v-80h800v80H80Zm40-120v-40q0-128 78.5-226T400-710v-10q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720v10q124 26 202 124t78 226v40H120Zm82-80h556q-14-104-93-172t-185-68q-106 0-184.5 68T202-400Zm278 0Z" />
            </svg>
            <div>Recepção</div>
          </span>
        </a>
        <a style="color: rgb(74, 236, 9);" href="../repcecion/recepcion.html">btn prueba</a>
    </div>

    <!-- contenido principal -->
    <div class="main-container">
        <div class="wrapper">
            <div class="buscador">
                <div class="barra_buscar">Vista Geral
                </div>
            </div>
        </div>
        <div class="interfaz-inicio">
            <div class="card">
                <div class="header">
                    <div class="total-de-quartos">
                        <span class="total">total </span><span class="de">de </span><span class="quartos">quartos</span>
                    </div>
                </div>
                <div class="flex-row-f">
                    <span class="xx">xX</span>
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                    <div class="rectangle-7"></div>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <div class="total-de-quartos">
                        <span class="total">total </span><span class="de">de </span><span class="quartos">quartos</span>
                    </div>
                </div>
                <div class="flex-row-f">
                    <span class="xx">xX</span>
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                    <div class="rectangle-7"></div>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <div class="total-de-quartos">
                        <span class="total">total </span><span class="de">de </span><span class="quartos">quartos</span>
                    </div>
                </div>
                <div class="flex-row-f">
                    <span class="xx">xX</span>
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                    <div class="rectangle-7"></div>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <div class="total-de-quartos">
                        <span class="total">total </span><span class="de">de </span><span class="quartos">quartos</span>
                    </div>
                </div>
                <div class="flex-row-f">
                    <span class="xx">xX</span>
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                    <div class="rectangle-7"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>