.interfaz-inicio {
    position: relative;
    z-index: 31;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 30px;
    padding: 20px;
}
.card {
    flex-shrink: 0;
    position: relative;
    width: 285px;
    height: 161px;
    background: #de93ea;
    z-index: 37;
    border-radius: 18px;
    margin-inline: auto;
}
.card .header {
    position: relative;
    width: 285px;
    height: 35px;
    margin: 0 0 0 0;
    cursor: pointer;
    background: #653d6c;
    border: none;
    z-index: 43;
    overflow: visible auto;
    border-radius: 18px 18px 0 0;
}
.total-de-quartos {
    position: relative;
    width: 153px;
    height: 27px;
    margin: 4px 0 0 73px;
    font-family: Manrope, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 43;
}
.total {
    position: relative;
    color: #ffffff;
    font-family: Manrope, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 27.32px;
    text-align: left;
    text-transform: capitalize;
}
.de {
    position: relative;
    color: #ffffff;
    font-family: Manrope, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 27.32px;
    text-align: left;
    text-transform: lowercase;
}
.quartos {
    position: relative;
    color: #ffffff;
    font-family: Manrope, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 27.32px;
    text-align: left;
    text-transform: capitalize;
}
.flex-row-f {
    position: relative;
    width: 224px;
    height: 88px;
    margin: 29px 0 0 28px;
    z-index: 42;
}
.xx {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 88px;
    top: 0;
    left: 129px;
    color: #ffffff;
    font-family: Manjari, var(--default-font-family);
    font-size: 75px;
    font-weight: 700;
    line-height: 87.891px;
    text-align: left;
    text-transform: capitalize;
    white-space: nowrap;
    z-index: 39;
}
.rectangle-5 {
    position: absolute;
    width: 63px;
    height: 20px;
    top: 4px;
    left: 14px;
    background: url(./assets/images/bd121a5a-3bd2-475b-82f7-c944bf0f3806.png)
        no-repeat center;
    background-size: cover;
    z-index: 40;
}
.rectangle-6 {
    position: absolute;
    width: 89px;
    height: 18px;
    top: 26px;
    left: 1px;
    background: url(./assets/images/ffdd5ca2-428c-4acd-bd48-d70e54c88f65.png)
        no-repeat center;
    background-size: cover;
    z-index: 41;
}
.rectangle-7 {
    position: absolute;
    width: 90px;
    height: 14px;
    top: 46px;
    left: 0;
    background: url(./assets/images/7a64a01a-0198-4d90-9ae4-c4315021fb43.png)
        no-repeat center;
    background-size: cover;
    z-index: 42;
}
.quartos-livres {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 27px;
    top: 4px;
    left: 66px;
    color: #ffffff;
    font-family: Manrope, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-transform: capitalize;
    white-space: nowrap;
    z-index: 51;
}
.flex-row-ed .rectangle-3 {
    background: #6a7ddc;
}
.flex-row-ed .rectangle-4 {
    background: #303a6b;
}
.flex-row-ed .rectangle-8 {
    background: #ff8a00;
}
.flex-row-ed .rectangle-9 {
    background: #b74d00;
}

@media screen and (max-width: 1280px) {
    .interfaz-inicio {
        grid-template-columns: repeat(2, 1fr);
    }
}