.contenedorClientes{
    display: flex;
    background:#fff;
    height: auto;
    width: 98%;
    margin-top: 50px;
    flex-direction: column;
    margin-right: 17px;
}
.wrapper{
    width: 98%;
}
.main-container{
    padding-right: 0 !important;
}
.barraClientes{
    display: flex;
    height: 45px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px ;
    
}
.barraClientes span{
    font-size: 20px;
}
.btnPdf{
    width: 70px;
    height: 30px;
    background: #ff0000;
    border-radius: 3px;
    border: none;
    font-weight: bold;
    font-size: 19px;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.barraFiltros{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 50px;
    align-items: center;
}
.flitrohuespe input{
    width: 50px;
}
.filtroAcompanante{
    display: flex;
    align-items: center;
}
.Buscador {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.buscar_lupa {
    display: flex;
    background: #d9d9d9;
    color: hsla(0, 0%, 0%, 0.664);
    margin: 0 20px 0 0;
    height: 75%;
    justify-content: center;
    align-items: center;
    width: 190px;
    border: solid 2px;
    border-color: transparent;
    border-radius: 40px;
    padding-left: 20px;
}
.buscar_lupa:focus {
    border-color: #464646dc;
}

.buscar_lupa:hover {
    outline: 1px solid lightgrey;
}
.footer{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content:space-between ;
    align-items: center;
}
.footer p{
    margin-left: 20px;
}
.contenedorLista{
    width: 100%;
    height: 40px;
    justify-content: center;
    padding-right: 17px;
    background: #fff;
}
.encabezadoLista{
    width: 100%;
    height: 40px;
    display: flex;
    border-bottom: 1px solid #4B4B4B;
}
.encabezadoLista div {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.nombreCliente{
    min-width: 350px !important;
    
}
.number {
    width: 45% !important;
    border-left: 1px solid #4B4B4B;
}
.number select{
    border: none;
}
.Ndocumento{
    min-width: 170px !important;
} 
.encabezadoLista div{
    border-top: 1px solid #4B4B4B;
    border-right: 1px solid #4B4B4B;
 }
 .encabezadoLista img{
    cursor: pointer;
    width: 17px;
}
 .contenedorFilas{
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background: #EAE8E8;
}
.filas{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 40px;
}
.filas div {
    width: 90%;
    height: 100%;
    border-bottom: 1px solid #4B4B4B;
    border-right: 1px solid #4B4B4B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.widthDiv, .accion{
    min-width: 100px;
}
.contendorBtn{
    margin-right: 50px;
}
.contendorBtn button{
    cursor: pointer;
    border: 1px solid #4B4B4B;
}
.vistaActiva{
    background: #71D64E;
}
.footer span{
    font-weight: bold;
}
.par{
    background: #fff;
}
.contendorbtneliminar, .contendorbtneditar{
    border: none  !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px !important;
    height: 38px !important;
    border-radius: 2px;
}
.contendorbtneliminar{
    background: red;
}
.contendorbtneditar{
    background: #5293CE;
    margin-right: 15px;
    
}
.accion{
    display: flex;
    justify-content: center;
    align-items: center;
}
.accion img {
    width: 26px;
    height: 26px;
}
.number{
    min-width: 45px;
}

/* modales */
/* The Modal (background) */

.option-btn {
    display: block;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.option-btn:hover {
    background-color: #45a049;
}

select {
    font-weight: bold;
    cursor: pointer;
    border: none;
}
.estado{
    width: 18px !important;
    height: 18px !important;
    border-radius: 5px;
    border: 2px solid #4B4B4B !important;
    background: #B3B3B3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.amarillo{
    backdrop-filter: blur(7px);
    box-shadow: 1px 1px 20px 7px #F0FF44;
    background: #F0FF44;
    border: none !important;
    height: 13px;
}
.azul{
    backdrop-filter: blur(7px);
    box-shadow: 1px 1px 20px 7px #4478FF;
    background: #4478FF;
    border: none !important;
    height: 13px;
}
.verde{
    backdrop-filter: blur(7px);
    box-shadow: 1px 1px 20px 7px #43FF3F;
    background: #43FF3F;
    border: none !important;
    height: 13px;
    
}


 .modaldos {
    display: none;  
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.5); 
}

.modal-contentdos {
    background-color: #fff;
    margin: 1% auto; 
    padding: 20px;
    height: 75%;
    border-radius: 7px;
    flex-direction: column;
    width: 60%;
    border: 1px solid #888;
    display: flex;
    align-items: flex-end;
}

.closedos {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closedos:hover,
.closedos:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.block{
display: block !important;
} 

.info-img{
    width: 110px;
    height: 110px;
}
.icon-img{
    width: 51px;
    height: 51px;
}
.btn-modal{
    border: none;
    background: transparent;
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block {
    display: block;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* editar modal */
.maineditar{
    width: 100%;
    height: 90%;
    text-align: center;
    overflow: auto;
}
.contentEditar{
    display: flex;
    flex-direction: column;
}
.datosCliente{
    display: flex;
}
.contentEditar span{
    font-weight: bold;
}
.columLeft{
    width: 60%;
}
.columRigth{
    width: 40%;
}
.colum{
   
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.documento{

    display: flex;
    align-items: flex-start;
}

.documento input, .passaporte input,
.nome input,  .profesion input,
.telefono input, .procedencia input,
.destino input, .email input,
.nacionalidad input, .naturalidad input,
.nacimiento input{
    width: 90%;
    border-radius: 3px;
    border: 1px solid #B3B3B3;
    height: 20px;
}
.contentFactura{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
} 
.factura{
    width: 370px;
    height: 270px;
    background-color: #F5F3F3;
    overflow-y: auto;
    border: 2px solid #B3B3B3;
    border-radius: 5px;
    padding: 10px 0;
}

  .custo-extra {
    display: block;
    position: relative;
    height: 18px;
    margin: 0 0 0 28px;
    color: #4a4a4a;
    font-family: Manrope, var(--default-font-family);
    font-size: 13px;
    font-weight: 600;
    line-height: 17.758px;
    text-align: left;
    text-transform: capitalize;
    white-space: nowrap;
    z-index: 3;
  }
  .preco-restante {
    position: relative;
    width: 166px;
    height: 18px;
    margin: 8px 0 0 28px;
    font-size: 13px;
    font-weight: 600;
    line-height: 17.758px;
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 4;
  }
  .preco-restante-1 {
    position: relative;
    color: #4B4B4B;
    font-size: 13px;
    font-weight: 600;
    line-height: 17.758px;
    text-align: left;
    text-transform: capitalize;
  }
  .comma {
    position: relative;
    color: #4B4B4B;
    font-size: 13px;
    font-weight: 800;
    line-height: 17.758px;
    text-align: left;
    text-transform: capitalize;
  }
  .caixa {
    display: block;
    position: relative;
    height: 18px;
    margin: 8px 0 0 28px;
    color: #4B4B4B;
    font-size: 13px;
    font-weight: 600;
    line-height: 17.758px;
    text-align: left;
    text-transform: capitalize;
    white-space: nowrap;
    z-index: 5;
  }
  .total {
    display: block;
    position: relative;
    height: 18px;
    margin: 21px 0 10px 33px;
    color: #4B4B4B;
    font-size: 13px;
    font-weight: 600;
    line-height: 17.758px;
    text-align: left;
    text-transform: capitalize;
    white-space: nowrap;
    z-index: 6;
  }
.contenbuton{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    align-items: flex-end;
}
.contenbuton button{
    margin-top: 10px;
    height: 30px;
    width: 85px;
    border-radius: 3px;
}
.cancelar{
    background: #E0E0E0;
    border: 1px solid #A2A2A2;
    color: #000;
    cursor: pointer;
}
.aceptar{
    background: #35C928;
    border: none;
    color: #fff;
    cursor: pointer;
}


.tooltip {
    position: relative;
    display: inline-block;
    border: none !important;
  }
.tooltip div {
    border: none;
    padding: 1px;
    
}
.tooltip div a{
  text-decoration: none;
  color: #5c5c5c;
}
.tooltip div a:hover{
    color: #000000;
    font-weight: bold;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    border: 1px solid black;
    background: #fefefe;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    display: flex;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
    .tooltip:hover .tooltiptext {
    visibility: visible;
  }  

  /* Estilos iniciales para el modal */
.modaladvertencia {
    display: none; /* Ocultar inicialmente */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-contentadvertencia {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
    animation: slideIn 0.5s; /* Animación para aparecer */
}
/* Animación para la imagen de check */
@keyframes pulse {
    0% {transform: scale(0.95);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#checkImage {
    animation: rotate 1s ease-in-out, pulse 1s ease-in-out 1s; /* rotar primero, luego pulsar */
}
.name-error-nombre {
    color: red;
    font-weight: 600;
    font-size: 17px;
    height: 20px;
}