:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.row {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin-block: 14px;
  z-index: 90;
  gap: 14px;
}

.card {
  position: relative;
  width: inherit;
  padding: 10px;
  font-size: 0px;
  background: #ffffff;
  border-bottom: 3px solid #0b6660;
  z-index: 42;
  border-radius: 5px;
}

.card .title {
  display: block;
  position: relative;
  height: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: #000000;
  font: 500 15px Manrope, var(--default-font-family);
  line-height: 20px;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 43;
}

.card .card_item {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 9px;
  background: #ffffff;
  border-top: 1px solid #0b6660;
  z-index: 45;
  border-radius: 0 0 1px 1px;
}

.card .card_label {
  color: #4a4a4a;
  font: 500 13px Manrope, var(--default-font-family);
  line-height: 17.758px;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 46;
}

.card .card_input {
  color: #0b6560;
  font: 500 13px Manrope, var(--default-font-family);
  line-height: 17.758px;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 47;
}

.card .dropdown {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #35C928 url('') no-repeat right 10px center;
  cursor: pointer;
}

.dropdown:hover {
  border-color: #339999;
}

.btn-limpieza {
  width: 100%;
  background-color: #0b6560;
  color: #FFF;
  border-radius: 6px;
  padding: 8px;
  margin-top: 22px;
  text-align: center;
}

.custo-alojamento {
  position: relative;
  background: #E8C1C1;
  padding-bottom: 60px;
}

.custo-alojamento h2 {
  width: 100%;
  background: #F4F4F4;
  text-align: center;
  padding-block: 9px;
  border-top: 0.5px solid #000;
}

table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead th {
  background: #F4F4F4;
  color: #101010;
  padding: 10px;
  border-top: 0.5px solid #000;
}

tbody td {
  padding: 10px;
  text-align: center;
  margin-bottom: 0.8px;
  background-color: #F4F4F4;
  border-top: 0.5px solid #000;
}

select {
  width: 100%;
  padding: 5px;
}

.btn-pagamento {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #28a745;
  color: #fff;
  padding: 10px 60px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 20px 40px;
}

/* -------  VENTANA MODAL-------- */
#openModalButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  padding-bottom: 18;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 10px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content .info-img {
  width: 110px;
  height: 110px;
}

.btn-modal {
  all: unset;
}

.icon-img {
  width: 51px;
  height: 51px;
}