<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vista General</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manjari:wght@700&display=swap" />
  <link rel="stylesheet" href="vista.css" />
</head>

<body>
  <div class="menu">
    <div class="line"></div>
    <div class="rectangle-18">
      <div class="rectangle-19"></div>
      <span class="home">HOTEL</span>
    </div>
    <div class="foto-logo activo">
      <span class="hotel">Home</span>
    </div>
    <div class="foto-logo">
      <span class="hotel">Recepção</span>
    </div>
    <div class="foto-logo">
      <span class="hotel">Saída</span>
    </div>
    <div class="foto-logo">
      <span class="hotel">Freguês</span>
    </div>
    <div class="foto-logo">
      <span class="hotel">Relatório</span>
    </div>
    <div class="foto-logo">
      <span class="hotel">Configuração</span>
    </div>
  </div>
  <div class="main-container">
    <div class="wrapper">
      <div class="buscador">
        <div class="barra_buscar">Vista Geral
          <input class="buscar_lupa" name="text" placeholder="Buscar Quarto..." type="search">
        </div>
      </div>
      <div class="todo">
        <div class="pestaña_activa">Todo</div>
        <div>Primeiro Nivel</div>
        <div>Segundo Nivel</div>
        <div>Terceiro Nivel</div>
      </div>
    </div>
    <div class="rectangle">
      <div class="flex-row-b">
        <div class="rectangle-1 disponible">
          <button class="button disponible_encabezado">
            <span class="text-2">disponível</span>
          </button>
          <div class="flex-row-dbc">
            <span class="text-3">01</span>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
            <span class="h">24h</span><span class="simple">Simple</span>
          </div>
          <div class="arrow"></div>
        </div>
        <div class="rectangle-1 disponible">
          <button class="button disponible_encabezado">
            <span class="text-2">disponível</span>
          </button>
          <div class="flex-row-dbc">
            <span class="text-3">02</span>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
            <span class="h">24h</span><span class="simple">Simple</span>
          </div>
          <div class="arrow"></div>
        </div>
        <div class="rectangle-1 disponible">
          <button class="button disponible_encabezado">
            <span class="text-2">disponível</span>
          </button>
          <div class="flex-row-dbc">
            <span class="text-3">02</span>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
            <span class="h">24h</span><span class="simple">Simple</span>
          </div>
          <div class="arrow"></div>
        </div>
        <div class="rectangle-1 disponible">
          <button class="button disponible_encabezado">
            <span class="text-2">disponível</span>
          </button>
          <div class="flex-row-dbc">
            <span class="text-3">03</span>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
            <span class="h">24h</span><span class="simple">Simple</span>
          </div>
          <div class="arrow"></div>
        </div>
        <div class="rectangle-1 fuera_servicio">
          <button class="button fuera_servicio_encabezado">
            <span class="text-2">Fora de serviço</span>
          </button>
          <div class="flex-row-dbc">
            <span class="text-3">04</span>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
            <span class="h"></span><span class="simple"></span>
          </div>
          <div class="arrow"></div>
        </div>
        <div class="rectangle-1 ocupado">
          <button class="button ocupado_encabezado">
            <span class="text-2">Ocupado</span>
          </button>
          <div class="flex-row-dbc">
            <span class="text-3">05</span>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
            <span class="h">9h</span><span class="simple">Simple</span>
          </div>
          <div class="arrow"></div>
        </div>
        <div class="rectangle-1 reserva">
          <button class="button reserva_encabezado">
            <span class="text-2">Em Reserva</span>
          </button>
          <div class="flex-row-dbc">
            <span class="text-3">06</span>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
            <span class="h">24h</span><span class="simple">Esperando...</span>
          </div>
          <div class="arrow"></div>
        </div>
        <div class="rectangle-1 limpieza">
          <button class="button limpieza_encabezado">
            <span class="text-2">Limpieza</span>
          </button>
          <div class="flex-row-dbc">
            <span class="text-3">07</span>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
            <span class="h">9h</span><span class="simple">Duplo</span>
          </div>
          <div class="arrow"></div>
        </div>
        <div class="rectangle-1 limpieza">
          <button class="button limpieza_encabezado">
            <span class="text-2">Ocupado/Limpieza</span>
          </button>
          <div class="flex-row-dbc">
            <span class="text-3">08</span>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
            <span class="h">24h</span><span class="simple">Simple</span>
          </div>
          <div class="arrow"></div>
        </div>
        <div class="rectangle-1 disponible">
          <button class="button disponible_encabezado">
            <span class="text-2">disponível</span>
          </button>
          <div class="flex-row-dbc">
            <span class="text-3">09</span>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
            <span class="h">24h</span><span class="simple">Simple</span>
          </div>
          <div class="arrow"></div>
        </div>
        <div class="rectangle-1 reparacion">
          <button class="button reparacion_encabezado">
            <span class="text-2">Reparação</span>
          </button>
          <div class="flex-row-dbc">
            <span class="text-3">10</span>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
            <span class="h">9h</span><span class="simple">Simple</span>
          </div>
          <div class="arrow"></div>
        </div>
        <div class="rectangle-1 ocupado_tiempo">
          <button class="button ocupado_tiempo_encabezado">
            <span class="text-2">Ocupado</span>
          </button>
          <div class="flex-row-dbc">
            <span class="text-3">11</span>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
            <span class="h">24h</span><span class="simple">Simple</span>
          </div>
          <div class="arrow"></div>
        </div>
        <div class="rectangle-1 limpieza">
          <button class="button limpieza_encabezado">
            <span class="text-2">Ocupado/Limpieza</span>
          </button>
          <div class="flex-row-dbc">
            <span class="text-3">12</span>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
            <span class="h">24h</span><span class="simple">Simple</span>
          </div>
          <div class="arrow"></div>
        </div>
        <div class="rectangle-1 disponible">
          <button class="button disponible_encabezado">
            <span class="text-2">disponível</span>
          </button>
          <div class="flex-row-dbc">
            <span class="text-3">13</span>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
            <span class="h">24h</span><span class="simple">Simple</span>
          </div>
          <div class="arrow"></div>
        </div>
        <div class="rectangle-1 ocupado">
          <button class="button ocupado_encabezado">
            <span class="text-2">Ocupado</span>
          </button>
          <div class="flex-row-dbc">
            <span class="text-3">14</span>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
            <span class="h">24h</span><span class="simple">Simple</span>
          </div>
          <div class="arrow"></div>
        </div>
        <div class="rectangle-1 fuera_servicio">
          <button class="button fuera_servicio_encabezado">
            <span class="text-2">Fora de serviço</span>
          </button>
          <div class="flex-row-dbc">
            <span class="text-3">15</span>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
            <span class="h">24h</span><span class="simple">Simple</span>
          </div>
          <div class="arrow"></div>
        </div>
        <div class="rectangle-1 reserva">
          <button class="button reserva_encabezado">
            <span class="text-2">Em Reserva</span>
          </button>
          <div class="flex-row-dbc">
            <span class="text-3">16</span>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
            <span class="h">24h</span><span class="simple">Simple</span>
          </div>
          <div class="arrow"></div>
        </div>
        <div class="rectangle-1 ocupado_tiempo">
          <button class="button ocupado_tiempo_encabezado">
            <span class="text-2">Ocupado</span>
          </button>
          <div class="flex-row-dbc">
            <span class="text-3">17</span>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
            <span class="h">24h</span><span class="simple">Simple</span>
          </div>
          <div class="arrow"></div>
        </div>
        <div class="rectangle-1 disponible">
          <button class="button disponible_encabezado">
            <span class="text-2">disponível</span>
          </button>
          <div class="flex-row-dbc">
            <span class="text-3">18</span>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
            <span class="h">24h</span><span class="simple">Simple</span>
          </div>
          <div class="arrow"></div>
        </div>
        <div class="rectangle-1 disponible">
          <button class="button disponible_encabezado">
            <span class="text-2">disponível</span>
          </button>
          <div class="flex-row-dbc">
            <span class="text-3">19</span>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
            <span class="h">24h</span><span class="simple">Simple</span>
          </div>
          <div class="arrow"></div>
        </div>

      </div>
      <!-- Generated by Codia AI - https://codia.ai/ -->
</body>

</html>