<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>keloque mi niño</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&display=swap" />
    <link rel="stylesheet" href="../../archivos_index/index.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="inicio-sesion">
        <span class="inicio">inicio </span><span class="de">de </span
        ><span class="sesion">sesión</span>
      </div>
      <form class="backrow-login">
        <div class="nombre">
          <div class="form">
            <label for="search">
                <input class="input" type="text" required="" placeholder="Nome" id="search">
                <div class="fancy-bg"></div>
                <div class="search">        
                </div>
                <button class="close-btn" type="reset">
                </button>
            </label>
        </div>
        </div>
        <p class="mensaje-error nome"></p>
        <div class="nombre-2">
          <div class="form">
            <label for="search">
                <input class="input" type="password" required="" placeholder="Senha" id="search">
                <div class="fancy-bg"></div>
                <div class="search">        
                </div>
                <button class="close-btn" type="reset">
                </button>
                <div class="ojos" onclick="toggleEye()">
                  <img id="closedEye" class="ojo_password"  src="../../archivos_index/recursos/icons8-ojo-cerrado-50.webp" alt="Ojo Cerrado">
                  <img id="openEye" class="ojo_password"  src="../../archivos_index/recursos/icons8-ojo-64.webp" alt="Ojo Abierto">
              </div>
                
            </label>
        </div>
        </div>
        <p class="mensaje-error senha"></p>
        <button class="button" type="submit"><span class="entrar">Entrar</span></button>
    </form>
      <div class="frame-7"><span class="ver">©2024 Nettside</span></div>
      <div class="frame-7"><span class="ver">Ver: 1.0</span></div>
    </div>
    <script src="archivos_index/index.js"></script>
  </body>
</html>
